.sidebar-item {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.sidebar-nav .caption {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid #e5e7eb;
}

.sidebar-nav .caption:first-child {
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
}

.custom-flowbite-scrollbar::-webkit-scrollbar { 
    width: 6px; 
} 
.custom-flowbite-scrollbar::-webkit-scrollbar-track { 
    background: transparent; 
} 
.custom-flowbite-scrollbar::-webkit-scrollbar-thumb { 
    background: #e2e8f0; 
    border-radius: 10px; 
} 
.custom-flowbite-scrollbar::-webkit-scrollbar-thumb:hover { 
    background: #cbd5e0; 
}